body {
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif;
} 

.gutter {
  width: 10%;
  float: left;
}

#app-content {
  width: 80%;
  float: left;
}

h1 {
  margin: 12px 0px;
}

#header-bar {
  margin-bottom: 6px;
}

a:visited {
  color: blue;
}

th, td {
  border-bottom: 1px solid #ddd;
}

th {
  text-align: left;
}

td {
  padding-right: 0.625rem;
}

table th:nth-child(3) {
  min-width: 6rem;
}

table th:nth-child(4), table th:nth-child(7) {
  padding-right: 0.5rem;
}

.form-element label {
  display: inline-block;
  width: 125px;
  margin-bottom: 6px;
}